
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("Index", "Slider")
<!-- End Hero Section -->

<main id="main">
    <!-- ======= About Section ======= -->
    @Html.Action("Index", "About")
    <!-- End About Section -->
    <!-- ======= Services Section ======= -->
    @Html.Action("Index", "Services")
    <!-- End Services Section -->
    <!-- ======= Team Section ======= -->
    @Html.Action("Index", "Team")
    <!-- End Team Section -->
    <!-- ======= Rviews Section ======= -->
    @Html.Action("Index", "WorkingWithUs")
    <!-- End Rviews Section -->
    <!-- ======= Portfolio Section ======= -->
    @Html.Action("Index", "Portfolio")
    <!-- End Portfolio Section -->
    <!-- ======= Pricing Section ======= -->
    @*<div id="pricing" class="pricing-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Pricing Table</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list">
                        <h3>basic <br /> <span>$80 / month</span></h3>
                        <ol>
                            <li class="check"><i class="bi bi-check"></i><span>Online system</span></li>
                            <li class="check"><i class="bi bi-x"></i><span>Full access</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Free apps</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Multiple slider</span></li>
                            <li class="cross"><i class="bi bi-x"></i><span>Free domin</span></li>
                            <li class="cross"><i class="bi bi-x"></i><span>Support unlimited</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Payment online</span></li>
                            <li class="check"><i class="bi bi-x"></i><span>Cash back</span></li>
                        </ol>
                        <button>sign up now</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list active">
                        <span class="saleon">top sale</span>
                        <h3>standard <br /> <span>$110 / month</span></h3>
                        <ol>
                            <li class="check"><i class="bi bi-check"></i><span>Online system</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Full access</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Free apps</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Multiple slider</span></li>
                            <li class="cross"><i class="bi bi-x"></i><span>Free domin</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Support unlimited</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Payment online</span></li>
                            <li class="cross"><i class="bi bi-x"></i><span>Cash back</span></li>
                        </ol>
                        <button>sign up now</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pri_table_list">
                        <h3>premium <br /> <span>$150 / month</span></h3>
                        <ol>
                            <li class="check"><i class="bi bi-check"></i><span>Online system</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Full access</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Free apps</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Multiple slider</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Free domin</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Support unlimited</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Payment online</span></li>
                            <li class="check"><i class="bi bi-check"></i><span>Cash back</span></li>
                        </ol>
                        <button>sign up now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@<!-- End Pricing Section -->
    <!-- ======= Testimonials Section ======= -->
    <div id="testimonials" class="testimonials">
        <div class="container">

            <div class="testimonials-slider swiper-container">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Content/eBusiness/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Content/eBusiness/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Content/eBusiness/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Content/eBusiness/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/Content/eBusiness/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div><!-- End Testimonials Section -->
    <!-- ======= Blog Section ======= -->
    <div id="blog" class="blog-area">
        <div class="blog-inner area-padding">
            <div class="blog-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Latest News</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Left Blog -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="~/Content/eBusiness/assets/img/blog/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                                <span class="comments-type">
                                    <i class="fa fa-comment-o"></i>
                                    <a href="#">13 comments</a>
                                </span>
                                <span class="date-type">
                                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                                </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">Assumenda repud eum veniam</a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                                </p>
                            </div>
                            <span>
                                <a href="blog.html" class="ready-btn">Read more</a>
                            </span>
                        </div>
                        <!-- Start single blog -->
                    </div>
                    <!-- End Left Blog-->
                    <!-- Start Left Blog -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="~/Content/eBusiness/assets/img/blog/2.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                                <span class="comments-type">
                                    <i class="fa fa-comment-o"></i>
                                    <a href="#">130 comments</a>
                                </span>
                                <span class="date-type">
                                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                                </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">Explicabo magnam quibusdam.</a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                                </p>
                            </div>
                            <span>
                                <a href="blog.html" class="ready-btn">Read more</a>
                            </span>
                        </div>
                        <!-- Start single blog -->
                    </div>
                    <!-- End Left Blog-->
                    <!-- Start Right Blog-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="~/Content/eBusiness/assets/img/blog/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                                <span class="comments-type">
                                    <i class="fa fa-comment-o"></i>
                                    <a href="#">10 comments</a>
                                </span>
                                <span class="date-type">
                                    <i class="fa fa-calendar"></i>2016-03-05 / 09:10:16
                                </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">Lorem ipsum dolor sit amet</a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.sit amet conse adipis elit Assumenda repud eum veniam optio modi sit explicabo nisi magnam quibusdam.
                                </p>
                            </div>
                            <span>
                                <a href="blog.html" class="ready-btn">Read more</a>
                            </span>
                        </div>
                    </div>
                    <!-- End Right Blog-->
                </div>
            </div>
        </div>
    </div><!-- End Blog Section -->
    <!-- ======= Suscribe Section ======= -->
    <div class="suscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                    <div class="suscribe-text text-center">
                        <h3>Welcome to our eBusiness company</h3>
                        <a class="sus-btn" href="#">Get A quate</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Suscribe Section -->
    <!-- ======= Contact Section ======= -->
    @Html.Action("Index", "Contact")
    <!-- End Contact Section -->
</main><!-- End #main -->
<!-- ======= Footer ======= -->
@Html.Action("Index", "Footer")
<!-- End  Footer -->