@model Company.Models.CompanyInfo

<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <h2><span>e</span>Business</h2>
                            </div>

                            <p>@Model.footer.About</p>
                            <div class="footer-icons">
                                <ul>
                                    @foreach (var item in Model.companySocialMedia)
                                    {
                                        <li>
                                            <a href="#"><i class="bi bi-@item.Icon"></i></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>information</h4>
                            <p>
                                @Model.footer.Information
                            </p>
                            <div class="footer-contacts">
                                <p><span>Tel:</span> @Model.footer.Call</p>
                                <p><span>Email:</span> @Model.footer.Email</p>
                                <p><span>Working Hours:</span> @Model.footer.WorkingHours</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Instagram</h4>
                            <div class="flicker-img">
                                <a href="#"><img src="~/Content/eBusiness/assets/img/portfolio/1.jpg" alt=""></a>
                                <a href="#"><img src="~/Content/eBusiness/assets/img/portfolio/2.jpg" alt=""></a>
                                <a href="#"><img src="~/Content/eBusiness/assets/img/portfolio/3.jpg" alt=""></a>
                                <a href="#"><img src="~/Content/eBusiness/assets/img/portfolio/4.jpg" alt=""></a>
                                <a href="#"><img src="~/Content/eBusiness/assets/img/portfolio/5.jpg" alt=""></a>
                                <a href="#"><img src="~/Content/eBusiness/assets/img/portfolio/6.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            &copy; Copyright <strong>@Model.footer.Copyright</strong>. All Rights Reserved
                        </p>
                    </div>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                        -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>